@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Welcome to JDR Sports Academy</h5>
                    <p class="card-text">
                        Register with the academy by creating an account. In the Fixtures section, select a sport that you like and a fixture date that best suits you.
                    </p>
                    <a href="/Students/Create" class="btn btn-primary">Register Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">View Fixtures</h5>
                    <p class="card-text">
                        You can register or log in to the app to select and see your match fixtures.
                    </p>
                    <a href="/Fixtures" class="btn btn-primary">View Fixtures</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Edit Profile</h5>
                    <p class="card-text">
                        You can edit your profile by clicking on the Edit menu.
                    </p>
                    <a href="/Students" class="btn btn-primary">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
